body{
    display: flex;
    flex-direction: column;
    width: 1080px;
    
}

header{
    display: flex;
    height: auto;
    width: 100%;
}

.logo img{
    width: auto;
    height: 140px;
}
.main-name{
    display: flex;
    font-size: 35px;
    font-family: 'Verdana';
    font-weight: 900;
    color: rgba(197, 38, 39, 1);
    padding: 4 0 0 0px;
    margin: 0 0 0 35px;
    justify-content: center;
    text-align: left;
    
}
main{
    display: flex;
}
menu{
    display: flex;
    flex-direction: column;
    height: 470px;
    width: 355px;
    margin: 10px 0;
    padding: 0;
}
.menu-button{
    display: flex;
    min-height: 62px;
    font-family: 'Verdana', sans-serif;
    padding: 0 5px 0 5px;
    color: aliceblue;
   // background-color: #095cb1;
    align-items: center;
    border-radius: 15px;
    //box-sizing: border-box;
    font-size: 24px;
    margin: 1 0;
    background: linear-gradient(to top, #2c3886, #00519b);
}
menu:nth-child(4){
    padding: 5px;
}
menu:last-child{
    margin: 10px 0 0 0;
}
a{
    text-decoration: none;
}
.slide>img{
    width: 100%;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}

.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}

#mySwipe{
    margin: 10 0 0 10;
    width: 750;
    height: 470;
}